.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__hashtags {
    font-size: 14px;
    color: #3da6ff;
    margin-bottom: 10px;
  }
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    margin-left: 10px;
  }
  .video__owner {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .video__owner__link {
      font-size: 20px;
      .video__description-area {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }
}
.video__add-comments {
  margin-top: 40px;
  display: flex;
  .video__comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    border-style: none;
    textarea {
      all: unset;
      width: 60vw;
      height: 3vh;
      font-size: 20px;
      background-color: rgba($color: #000000, $alpha: 0);
      color: white;
      border: none;
      border-bottom: 1px solid #ffffff;
      margin-bottom: 10px;
      margin-right: 20px;
      &::placeholder {
        font-size: 2vh;
      }
    }
    button {
      width: 80px;
      height: 30px;
      background-color: white;
      border-radius: 10px;
      border: none;
      text-align: center;
      font-size: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 60px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    .video__comment-area {
      display: flex;
      align-items: center;
      .video__comment__owner-img {
        img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
      }
      .video__comment-info {
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        span {
          font-size: 20px;
        }
        .video__comment__owner-name {
          span {
            font-size: 15px;
          }
        }
      }
    }
    .video__comment-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid white;
      font-size: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
